@{
    var action = TempData["action"];
}
<!DOCTYPE html>
<html>
<head lang="zh-Hant-TW">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="臺中市社區整合型服務中心評鑑">
    <meta name="keywords" content="臺中市社區整合型服務中心評鑑">
    <link rel="shortcut icon" href="images/summit.ico" type="image/x-icon">
    <title>臺中市社區整合型服務中心評鑑</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/html2canvas.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" media="screen" type="text/css">
    <link rel="stylesheet" href="~/Content/layout.min.css" media="screen" type="text/css">
    <link rel="stylesheet" href="~/Content/icomoon/style.min.css" media="screen" type="text/css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA 058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5 76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdn.bootcss.com/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdn.bootcss.com/jspdf-autotable/3.0.0-alpha.1/jspdf.plugin.autotable.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jQuery.blockui.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166248697-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-166248697-4');
    </script>
    <style type="text/css">
        .html2canvas-container {
            width: 2000px !important;
            height: 500px !important;
        }
        /* Start by setting display:none to make this hidden.
           Then we position it in relation to the viewport window
           with position:fixed. Width, height, top and left speak
           for themselves. Background we set to 80% white with
           our animation centered, and no-repeating */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8 ) url('../../images/ajax-loader.gif') 50% 50% no-repeat;
        }

        /* When the body has the loading class, we turn
           the scrollbar off with overflow:hidden */
        body.loading .modal {
            overflow: hidden;
        }

        /* Anytime the body has the loading class, our
           modal element will be visible */
        body.loading .modal {
            display: block;
        }
    </style>
    <script type="text/javascript">
        function downloadPDF() {
            //var options = {
            //    background: '#fff',
            //    pagesplit: true
            //};
            //var doc = new jsPDF('p', 'pt', 'a4');
            //alert(document.body.clientHeight);
            //$body = $("body");
            //$body.addClass("loading");
            //$.blockUI({
            //    message: '<table><tr><td valign="middle" style="height:50px" class="main"><img src="../../images/ajax-loader.gif" /></td></tr></table>',
            //    css: {
            //    width: '250px',
            //    height: '350px'
            //    }
            //});
            window.scrollTo(0, 0);
            html2canvas(document.body, { scrollX: 0, scrollY: 0 }).then(canvas => {
                var imgData = canvas.toDataURL('image/png');
                var imgWidth = 500;
                var pageHeight = 800;
                var imgHeight = canvas.height * imgWidth / canvas.width;
                var heightLeft = imgHeight;
                var doc = new jsPDF('p', 'pt', 'a4');
                var position = 0; // give some top padding to first page

                doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                heightLeft -= pageHeight;

                while (heightLeft >= 0) {
                  position += heightLeft - imgHeight; // top padding for other pages
                  doc.addPage();
                  doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                  heightLeft -= pageHeight;
                }
                doc.save( 'file.pdf');
                //var image = canvas.toDataURL("image/png");
                //doc.addImage(image, 'JPEG', 0, 0, 600, 1000);
                //doc.save('test.pdf');
            });
            window.scrollTo(0, document.body.scrollWidth || document.documentElement.scrollHeight);
            //$.unblockUI();
            //html2canvas(document.body).then(canvas => {
            //    saveAs(canvas.toDataURL("./images"), 'canvas.png');
            //});
           // alert("1");
            //var random = new Date().getTime();
           ////var doc = new jsPDF('p', 'pt', 'a3');
            //pdf.internal.scaleFactor = 2;
            //var options = {
            //    pagesplit: true, //設置是否自動分頁
            //    "background": '#ffffff'   //如果導出的pdf為黑色背景，需要將導出的html模塊內容背景 設置成白色。
            //};
            //var printHtml = $('#page').get(0);   // 頁面某一個div裏面的內容，通過id獲取div內容
            //    pdf.addHTML(printHtml, 15, 15, options, function () {
            //    pdf.save('htmltopdf_'+random+'.pdf');
            //    parent.closeLoading();
            //});
           ////html2canvas($("#print"), {
           ////     onrendered: function(canvas) {
           ////         var image = canvas.toDataURL("image/png");
            //        doc.addImage(image, 'JPEG', 0, 0, 800, 800);
           //         doc.save('test.pdf');
           //     }
           // });
            //doc.autoTable(columns, data, {});
            //doc.save('匯出.pdf');
        }
        function saveAs(uri, filename) {
            var link = document.createElement('a');
            if (typeof link.download === 'string') {
                link.href = uri;
                link.download = filename;

                document.body.appendChild(link);

                link.click();

                document.body.removeChild(link);

            } else {
                window.open(uri);
            }
        }
        function changeMenu() {
            $("li").each(function () {
                if ("@action" != "") {
                    if (this.id == "@action") {
                        $(this).addClass("active");
                    }
                    else {
                        $(this).removeClass("active");
                    }
                }
                else {
                    if (this.id == "query") {
                        $(this).addClass("active");
                    }
                    else {
                        $(this).removeClass("active");
                    }
                }
            });
            @if (TempData["success"] != null)
            {
                <text>
                alert('執行成功');
                @if (TempData["parentreload"] != null && TempData["parentreload"].ToString() == "OK")
                {
                    <text>
                    window.opener.location.reload();
                    </text>
                    TempData["parentreload"] = null;
                }
                window.close();
                </text>
                TempData["success"] = null;
            }
        }
    </script>
</head>
@if (TempData["error"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["error"]));
        alert(message);
    </script>
}
<body onload="changeMenu()">
    <div id="page">
        <div class="container-fluid px-0">
            <header class="gw">
                <div class="header-top gw img-wrap">
                    <div class="container-1920">
                    </div>
                </div>
            </header>
        </div>
        <div class="header-menu gw bg-primary">

        </div>
        <main class="gw mh-70 bg-white">
            <article class="gw py-5">
                <section class="container-1920">
                    @RenderBody()
                </section>
            </article>
        </main>
    </div>
    <script src="Scripts/jquery.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/use.min.js"></script>
    <div class="modal"><!-- Place at bottom of page --></div>
</body>
</html>
