@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LongtermCare.DataModel.LongtermCare.DataModel.AccountBase
<div class="row justify-content-lg-between justify-content-xx-center">
    <div class="col-xl-3 col-lg-3 col-md-11 pr-xl-5 pr-lg-0 mb-4">
        <div class="row justify-content-md-between justify-content-xx-center">
            <div class="col-lg-12 mb-4">
                <div class="gw"></div>
                <a class="media w-100 flex-wrap icon-link-set" href="Login.aspx?action=query">
                    <span class="sprite size--60">
                        <!--這裡放圖片，60px * 60px-->
                        <img src="images/spearker-1.png" alt="">
                    </span>
                    <h6 class="align-self-center">
                        線上登入
                    </h6>
                </a>
            </div><!--12-->
        </div><!--row-->
    </div><!--col3-->
    <div class="col-xl-9 col-lg-9 col-md-11 pl-xl-0 pl-lg-5">
        <div class="gw page-list mb-4">
            <h3 class="font-weight-bold">線上登入</h3>
        </div><!--gw-->
        @*<div class="actions">
                @Html.TextBox("CaptchaCode")
                <input type="submit" value="Validate" />
                @Html.ValidationMessage("CaptchaCode")
            </div>*@
        <div class="gw py-4 px-lg-5 px-md-4 px-xx-3 py-lg-5 py-xx-4 border  bg-light">
            <h5 class="font-weight-bold mb-4 text-success ">登入系統</h5>
            <form runat="server" class="row vertical-form" id="form1" method="post" action="/Login/Login">
                <div class="col-xl-5 col-md-6 col-sm-6 mb-4">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control order-1" id="AccountNo" name="AccountNo" value="" required>
                        <label for="AccountNo" class="mb-2 pr-3 align-self-center font-weight-bold w-100 order-0">帳號</label>
                    </div>
                </div><!--12-->
                <div class="col-xl-5 col-md-6 col-sm-6 mb-4">
                </div><!--12-->
                <div class="col-xl-5 col-md-6 col-sm-6 mb-4">
                    <div class="input-group input-group-lg">
                        <input type="password" class="form-control order-1" id="AcntPwd" name="AcntPwd" value="" required>
                        <label for="AcntPwd" class="mb-2 pr-3 align-self-center font-weight-bold w-100 order-0">密碼 </label>
                    </div>
                    <br>
                    @{ var captcha = Html.MathCaptcha("換一個", "輸入結果"); }
                    @captcha
                    @Html.ValidationMessage(captcha.BuildInfo.InputElementId)
                </div><!--12-->

                <div class="w-100 py-4">
                    <hr>
                </div><!--w-100-->
                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-lg btn-success px-4" id="submit" value="Validate">下 一 步</button>
                </div><!--12-->
                <div>

                </div>
            </form>
        </div><!--gw-->
    </div><!--col9-->
</div><!--row-->
